# Virtual Environment
.venv/
venv/
ENV/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class

# Pytest / Test Artifacts
.pytest_cache/
.coverage
htmlcov/

# Environment Variables & IDEs
.env
.vscode/
.idea/
*.swp
